<div class="wrapper">
    <div class="page-header header-filter">
      <div class="content-center brand capitalize">
          <h1 class="h1 title">BORED?</h1>
          <div class="row">
              <div class="col-md-12">
                  <button class="btn btn-success  btn-lg btn-simple mr-1" [routerLink]="['/activity']">YES!</button>
                  <button class="btn  btn-lg btn-simple mr-1"(click)="notBored()">NO</button>
              </div>
          </div>
      </div>
    </div>
  </div>
    